
nav {
	background-color: #4f5c75;
	padding: 20px;

}



/* Typography */

h1 {
	font-size: 20px;
	color: white;
	text-align: center;
}

h1 span {
	color: #b7832f;
}

h2 {
	font-size: 1.5rem;
}

p {
	margin-top: 1em;
	font-size: 1rem;
}

/*  Layout  */

.container {
	width: 100%;
}
.columns {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.row {
	height: 350px;
}


.row .col {
	height: 40%;

}
.container .hero img{
	opacity: .5;
	width: 100vw;
	height: 45vh;
}

.content {
	padding: 60px 150px;
}

.top {
	margin: 3em 0;
}

.col {
	margin: 20px;
	border-radius: 3px;
	border: 2px solid #212614;
	padding: 1em;
	box-shadow: 0px 4px 10px rgba(79, 92, 117, 0.5);
}



.top .columns .col-sm {
	flex: 1;
	background-color: coral;
	max-width: 300px;
}

.top .columns .col-lg {
	background-color: #4f5c75;
	color: #f8f8f8;
	flex: 2;
	max-width: 480px;
}

.top .columns .col-sm:first-of-type {
	background-color: #4f5c75;
	color: #f8f8f8;
	align-self: stretch;
}


.bottom .columns .col-sm {
	box-shadow: 3px 4px 10px rgba(79, 92, 117, 0.9);
}

.bottom .columns .col-lg {
	background-color: #2d3042;
	color: #f8f8f8;

}


@media (min-width: 1024px) {
	.top .columns .col-sm {
		max-width: 200px;
		max-height: 300px;
		margin-bottom: 1em;
	}
	.top .columns .col-lg {
		max-width: 480px;
		max-height: 300px;
	}
}
